{% extends 'layout.html' %}
{% block body_content %}
<h2>Film List</h2>
{% for film in film_list %}
<p>
<b>{{ film.title }}</b> <br>
Film ID: {{ film.id }} <br>
Duration: {{ film.duration }} <br>
Genre ID: {{ film.genre_id }} <br>
Age Rating: {{ film.age_rating }} <br>
<form action='{{ url_for('update_film', id=film.id) }}'>
        <button>Update</button>
</form>

<form action='{{ url_for('delete_film', id=film.id) }}'>
	<button>Delete</button>
</form>
</p>
{% endfor %}
{% endblock body_content %}
